<ion-view class="bar-black" hide-nav-bar='true'>
  <ion-header-bar class="bar-black top-search">
    <h1 class="title">Search Hymns</h1>
    <div class="buttons"><i class="ion-arrow-right-c searcharrow"></i>
        <button class="button button-icon ion-android-search search-button"
                ng-click="showFilterBar()"></button>
    </div>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatarX item-icon-right" collection-repeat="hymn in hymns | filterPunctuation: data.searchQuery" type="item-text-wrap" href="#/tab/old-list/{{hymn.number}}/oldList/{{hymn.isPrevDisabled}}/{{hymn.isNextDisabled}}">
        <!-- img ng-src="{{chat.face}}" -->
        <h2><b>{{hymn.number}}. </b>{{hymn.title}}</h2>
        <!-- p>{{chat.lastText}}</p -->
        <i class="icon ion-chevron-right icon-accessory"></i>

        <!-- ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button-->
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
